<!-- <html>
    <head>
        <title>
<%=title%>
        </title>
    </head>
    <body>
        <%- include('_header'); %> -->
        <link rel="stylesheet" type="text/css"  href="/css/user_profile.css" >

        <h1>user_profile/ <%=title%></h1>

<p>Name:<%= user.name %></p>
<p>Email:<%= user.email %></p>
<form action="/users/sign-out" method="post">
    <input type="submit" value="Sign Out">
</form>

        <!-- <%- include('footer'); -%>
    </body>
</html> -->